<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" sizes="192x192" href="images/android-chrome-192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="../style.css">

    <title>Fitness Class Schedule | Forward Fitness Club</title>
</head>

<body>
    <!-- Header -->
    <div id="container">
        <header>
            <a href="/"><img src="images/forward-fitness-logo.png" alt="Forward Fitness Club logo" height="220"
                    width="297"></a>
        </header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/classes">Classes</a></li>
                <li><a href="/nutrition">Nutrition</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>

        <main>
            <div class="mobile">

                <h3>Group Fitness Classes</h3>
                <p>Boot Camp: TR 5am &amp; 5pm</p>
                <p>Cardio: MWF 6am &amp; 6pm</p>
                <p>Kickboxing: MWF 8am &amp; 7:15pm</p>
                <p>Spinning: TR 6am &amp; 6pm</p>
                <p>Yoga: TR 6am &amp; 6pm</p>
                <p>Zumba: MWF 7am &amp; 6pm</p>

            </div>

            <div class="tablet-desktop">

                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr><!-- Row 1 -->
                            <th>Class</th>
                            <th>Days</th>
                            <th>Times</th>
                            <th>Instructor</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><!-- Row 2 -->
                            <td>Cardio</td>
                            <td>Mon, Wed, Fri</td>
                            <td>6:00am, 6:00pm</td>
                            <td>Schultz</td>
                            <td>B</td>
                        </tr>
                        <tr><!-- Row 3 -->
                            <td>Boot Camp</td>
                            <td>Tue, Thu</td>
                            <td>5:00am, 5:00pm</td>
                            <td>Taylor</td>
                            <td>B</td>
                        </tr>
                        <tr><!-- Row 4 -->
                            <td>Spinning</td>
                            <td>Tue, Thu</td>
                            <td>6:00am, 6:00pm</td>
                            <td>Roberts</td>
                            <td>A</td>
                        </tr>
                        <tr><!-- Row 5 -->
                            <td>Kickboxing</td>
                            <td>Mon, Wed, Fri</td>
                            <td>8:00am, 7:15pm</td>
                            <td>Lawrence</td>
                            <td>A</td>
                        </tr>
                        <tr><!-- Row 6 -->
                            <td>Yoga</td>
                            <td>Tue, Thu</td>
                            <td>6:00am, 6:00pm</td>
                            <td>Schultz</td>
                            <td>B</td>
                        </tr>
                        <tr><!-- Row 7 -->
                            <td>Zumba</td>
                            <td>Mon, Wed, Fri</td>
                            <td>7:00am, 6:00pm</td>
                            <td>Roberts</td>
                            <td>A</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </main>

        <!-- Footer -->
        <footer>

            <p>&copy; Copyright 2023. All Rights Reserved.</p>
            <p><a href="mailto:forwardfitness@club.net" class="text-white">forwardfitness@club.net</a></p>

        </footer>
    </div>
</body>

</html>